@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}